<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Current exchange rates</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-6">
				<span id="ratesBase" th:text="'Base currency: ' + ${currentRates.base}" />
			</div>
			<div class="col-md-6">
				<span id="ratesDate" th:text="'By date: ' + ${currentRates.date}" />
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-6">
				<span id="ratesList">Rates: </span>
			</div>
			<div th:each="rate: ${currentRates.rates}">
				<div class="col-md-6">
					<span th:text="${rate.key}"></span>
					<span th:text="${rate.value}"></span>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<a id="convert" href="/">Go back to conversion</a>
		</div>
	</div>
</div>
</body>
</html>